@font-face {
	font-family: 'Dodo';
	src: url('../fonts/dodorounded-regular.eot'); 
	src: url('../fonts/dodorounded-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/dodorounded-regular.woff2') format('woff2'), 
		url('../fonts/dodorounded-regular.woff') format('woff'), 
		url('../fonts/dodorounded-regular.ttf') format('truetype'), 
		url('../fonts/dodorounded-regular.svg#dodorounded-regular') format('svg'); 
}