// @import "./variables";

// Сброс стилей input
@mixin app {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: $font_1;
	font-size: $font_size_base;
}

// Input end


// Flex styles

@mixin flex-center {
	justify-content: center;
	display: flex;
	align-items: center;
}

@mixin flex-col {
	flex-direction: column;
}

@mixin flex-start {
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

@mixin flex-space {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

@mixin flex-end {
	justify-content: flex-end;
	display: flex;
	align-items: center;
}


@mixin bp($width,$direction:max) {
	@if $direction == min {
		@media screen and (min-width: $width) {
			@content;
		}
	}
	@else {
		@media screen and (max-width: $width) {
			@content;
		}
	}
}

