$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;


$white: #fff;
$black: #242529;
$gray: #8a96a3;
$blue: #00aff0;
$accent: #0091ea;
$light: rgba(138,150,163,.25);
$light-blue: rgba(0,175,240,.25);
$ultra-light: rgba(0,145,234,.06);
$marked: #f6f7f8;


